/* .submit-offer-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(7, 17, 27, 0.3);
    overflow: hidden;
}
.submit-offer-content{
    z-index: 20;
    width: 550px;
    min-height: 630px;
    height: 80%;
    margin: 5% auto;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.submit-title-container {
    width: 100%;
    height: 60px;
    line-height: 60px;
    /* position: relative; */
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 21px;
    border-bottom: 1px solid #eee;
} */
/* .submit-title-close{
    font-size: 24px;
    color: #aaa;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 10;
    cursor: pointer;
}
.submit-content {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    overflow-y: auto;
}
.isSepate{
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
    width: 100px;
    margin-top: 5px;
}
.insurance-company{
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
}
.insurance-title{
    height: 30px;
    line-height: 30px;
    display: inline-block;
    width: 100px;
    font-weight: 600;
}
.insurance-select{
    height: 30px;
    width: 300px;
} */

/* 保费和返佣点位部分 */
/* .submit-item-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.submit-item{
    flex: 1;
}
.submit-default{
    width: 80%;
    border: 1px solid #aaa;
    padding-left: 5px;
}
.sign{
    display: inline-block;
    text-align: center;
    font-size: 15px;
} */
/* 截图 */
/* .sub-image-container{
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    padding: 10px 0px;
}
.sub-image-title{
    display: block;
}
.add-image{
    width: 50px;
    height: 50px;
    cursor: pointer;
} */
/* 操作 */
/* .submit-operate-container{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}
.submit-btn-default{
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.submit-submit{
    background-color: #108ee9;
}
.submit-footer{
    font-size: 12px;
    width: 100%;
    height: 100px;
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: column;
}
.submit-footer-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    align-items: center;
}
.submit-footer-item {
    flex: 1;
    padding-left: 10px;
} */

/* .sub-fee{
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #f00;
    vertical-align: bottom;
} */
/* 明细 */
/* .insurance-detail-wrapper{
    width: 100%;
    
}
.insurance-detail-wrapper .insurance-title{
   color: #108ee9;
}
.insurance-detail-wrapper .insurance-container{
    width: 100%;
    border: 1px solid#eee;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.insurance-container .item-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    align-items: center;
} */
/* .insurance-container .item-container .ins{ */
    /* width: 140px; */
    /* display: inline-block;
    font-size: 13px;
} */
/* .insurance-container .item-container .input-style{
    border: 1px solid #ddd;
    padding-left: 5px;
}
.insurance-container .item-container .ins-code{
    color: #aaa;
    display: inline-block;
} */
